<!DOCTYPE html>
<html>
    <head>
        <title>TehranJs | <%= @title ||= ' تهران جی اس' %> </title>
                <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
        <%= stylesheets_link_tag 'application.css' %>
        <meta charset="UTF-8">
    </head>
    <body>
        <%= partial 'nav' %>
        <%= yield %>
        <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <%= javascript_link_tag 'application.js' %>
   </body>
</html>